body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #0f0f11;
    font-family: 'Outfit', sans-serif;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-title {
    color: white;
    font-size: 2em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.page-subtitle {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 60%;
}

.habit {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20em;
    height: 20em;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px;
    gap: 0.7em;
    transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.habit:hover {
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.habit .habit-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
}

.habit:hover .habit-button {
    opacity: 1;
    transform: translateY(0) scale(1.1, 1.05);
}

.habit .habit-icon {
    width: 5em;
    height: 5em;
    color: white;
    transition: transform 0.3s ease;
}

.habit:nth-child(2n+1):hover .habit-icon {
    transform: scale(1.1) rotate(-5deg);
}

.habit:nth-child(2n):hover .habit-icon {
    transform: scale(1.1) rotate(5deg);
}

.habit .habit-title {
    font-size: 1.5em;
    font-weight: 700;
}

.habit .habit-description {
    font-size: 1em;
}

.habit .habit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #0f0f11;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px) scale(0.75);
    cursor: pointer;
}

.habit .habit-button .button-icon {
    width: 1.5em;
    height: 1.5em;
}

.habit-details {
    margin: 0;
    padding: 0;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(10px) brightness(30%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.habit-details .habit-name {
    font-size: 3em;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.2em;
}

.habit-details .habit-description {
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
}

.habit-details .habit-icon {
    width: 30em;
    height: 30em;
    color: #575758;
    transition: transform 0.3s ease;
    position: absolute;
    filter: opacity(20%) blur(1px);
    z-index: -1;
}

.habit-details .habit-rewards-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.habit-details .habit-rewards-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 10em;
    aspect-ratio: 1/1;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.075));
    backdrop-filter: blur(20px);
    transition: transform 0.3s ease, border 0.3s ease, background-color 0.3s ease;
}

.habit-details .habit-rewards-list li:hover {
    transform: translateY(-5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.15);
}

.habit-details .habit-rewards-list li .difficulty {
    font-size: 2em;
    font-weight: 700;
}

.habit-details .habit-rewards-list .difficulty-easy .difficulty {
    color: rgb(171, 235, 171);
    filter: drop-shadow(0 0 5px rgb(171, 235, 171));
}

.habit-details .habit-rewards-list .difficulty-medium .difficulty {
    color: rgb(201, 168, 108);
    filter: drop-shadow(0 0 5px rgb(201, 168, 108));
}

.habit-details .habit-rewards-list .difficulty-hard .difficulty {
    color: rgb(197, 104, 104);
    filter: drop-shadow(0 0 5px rgb(197, 104, 104));
}

.habit-details .habit-rewards-list li .goal {
    font-size: 1.2em;
    font-weight: 600;
}

.habit-details .habit-rewards-list li .reward {
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(145, 245, 145);
}

.habit-details .habit-rewards-list li .unit {
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(175, 175, 175);
}

.habit-details .habit-rewards-list li .xp {
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(111, 177, 111);
}