body {
    background-color: #0f0f11;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.pageTitle {
    /* color: #78ff78; */
    font-size: 3em;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 8px;
    color: white;
}

.pageSubtitle {
    /* todo: update text to be more encouraging */
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    font-weight: 400;
}

main.habitContainer {
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
    max-width: 80em;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.habit {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px;
    gap: 11px;
    transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
    background-color: rgba(255, 255, 255, 0.02);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20em;
    height: 20em;
    border-radius: 10px;
}

.habit:hover {
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.habit .habitContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
    padding: 1.25em;
    flex: 1;
    display: flex;
}

.habit:hover .habitButton {
    opacity: 1;
    transform: translateY(0) scale(1.1, 1.05);
}

.habit .habitIcon {
    width: 5em;
    height: 5em;
    color: white;
    transition: transform 0.3s ease;
}

.habit:nth-child(2n+1):hover .habitIcon {
    transform: scale(1.1) rotate(-5deg);
}

.habit:nth-child(2n):hover .habitIcon {
    transform: scale(1.1) rotate(5deg);
}

.habit .habitTitle {
    font-size: 1.5em;
    font-weight: 700;
}

.habit .habitDescription {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.6);
}

.habit .habitButton {
    justify-content: center;
    background-color: #ffffff;
    color: #0f0f11;
    margin-top: 8px;
    margin-bottom: 2.5em;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px) scale(0.75);
    cursor: pointer;
    align-items: center;
}

.habit .habitButton .buttonIcon {
    width: 1.5em;
    height: 1.5em;
}

.habitDetails {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(10px) brightness(30%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    transition: opacity 0.3s ease;
    margin: 0;
    padding: 2em;
}

.closeButton {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    font-size: 2em;
}

.closeButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
}

.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.habitDetails .habitName {
    font-size: 3em;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
    text-align: center;
}

.habitDetails .habitDescription {
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
    text-align: center;
    max-width: 40em;
    font-size: 1.5em;
}

.habitDetails .habitIcon {
    color: #575758;
    transition: transform 0.3s ease;
    position: absolute;
    filter: opacity(20%) blur(1px);
    z-index: -1;
    width: 18.75em;
    height: 18.75em;
}

.habitDetails .habitRewardsList {
    justify-content: center;
    gap: 1.25em;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.habitDetails .habitRewardsList li {
    padding: 1.25em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 12em;
    min-height: 15em;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(1.25em);
    transition: transform 0.3s ease, border 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 15px;
}

.habitDetails .habitRewardsList li:hover {
    transform: translateY(-6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

.difficultyInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.startQuestButton {
    background-color: #ffffff;
    border: none;
    padding: 10px 15px;
    color: #0f0f11;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    border-radius: 6px;
}

.startQuestButton:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.9);
}

.habitDetails .habitRewardsList li .difficulty {
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
}

.habitDetails .habitRewardsList .difficultyEasy .difficulty {
    color: rgb(171, 235, 171);
    filter: drop-shadow(0 0 6px rgb(171, 235, 171));
}

.habitDetails .habitRewardsList .difficultyMedium .difficulty {
    color: rgb(201, 168, 108);
    filter: drop-shadow(0 0 6px rgb(201, 168, 108));
}

.habitDetails .habitRewardsList .difficultyHard .difficulty {
    color: rgb(197, 104, 104);
    filter: drop-shadow(0 0 6px rgb(197, 104, 104));
}

.habitDetails .habitRewardsList li .goal {
    font-size: 1.2em;
    font-weight: 600;
}

.habitDetails .habitRewardsList li .reward {
    font-weight: 600;
    color: rgb(145, 245, 145);
    font-size: 1.2em;
}

.habitDetails .habitRewardsList li .unit {
    font-weight: 600;
    color: rgb(175, 175, 175);
    font-size: 13px;
}

.habitDetails .habitRewardsList li .xp {
    font-weight: 600;
    color: rgb(111, 177, 111);
    font-size: 13px;
}

@media (max-width: 768px) {
    .pageTitle {
        font-size: 1.5em;
    }
    .pageSubtitle {
        font-size: 1em;
    }
    .habit {
        width: 100%;
        height: auto;
    }
    .habitDetails .habitRewardsList {
        flex-direction: column;
    }
    .habitDetails .habitName {
        font-size: 2em;
    }
    .habitDetails .habitDescription {
        font-size: 1.2em;
    }
}