@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



body {
    display: flex;
    min-height: 300vh;
    flex-direction: column;
    background-color: #0f0f11;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main {
    flex: 1;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

app-navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.menu {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menuIcon {
    fill: white;
    transition: transform 0.2s ease;
}

.menuIcon:hover {
    transform: rotate(90deg);
}

.menu:hover {
    transform: scale(1.1);
}

.welcomeLanding {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.joinWrapper {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 2em;
    text-align: center;
    padding: 0.75em 1.5em;
    background-color: rgb(120, 255, 120);
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease, width 0.5s ease;
    text-decoration: none;
}

.joinWrapper:hover {
    width: 27%;
    background-color: rgb(120, 255, 120, 0.8);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(120, 255, 120);
}

.joinWrapper svg {
    width: 20px;
    height: 20px;
    color: black;
    transition: transform 0.5s ease;
}

.joinWrapper:hover svg {
    transform: translateX(15px);
}

.linkNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
}

.linkNav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 500;

    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.linkNav a:hover {
    text-shadow: rgba(255, 255, 255, 0.3) 0 0 10px;
    transform: scale(1.1);
}

.logoIcon {
    height: 20px;
    color: white;
    transition: filter 0.3s ease, scale 0.3s ease;
}

.logoIcon:hover {
    filter: drop-shadow(white 0 0 2px);
    scale: 1.05;
}

app-logo {
    display: inline-block;
    vertical-align: middle;
    aspect-ratio: 113 / 35;
    transition: scale 0.3s ease, filter 0.3s ease;
}

.landingTitle app-logo {
    height: 250px;
    transition: scale 1.5s ease, filter 1.5s ease;
}

.landingTitle {
    width: 100%;
    max-width: 1000px;
    color: rgb(120, 255, 120);
    text-align: center;
    font-weight: 700;
    text-shadow: rgb(120, 255, 120, 0.25) 0 0 20px;
}

.landingTitle app-logo:hover {
    filter: drop-shadow(rgb(120, 255, 120, 0.25) 0 0 20px);
    scale: 1.05;
}

.landingTitle svg {
    filter: drop-shadow(rgb(120, 255, 120) 0 0 20px);
}

.landingSubtitle {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 0.5em;
    font-weight: 500;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 10px;
}

.features {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 5em;
}

.feature {
    flex-grow: 1;
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin-top: -10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: center;

    opacity: 0;
    transform: translateY(40px) scale(0.8);
    
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, scale 0.3s ease, box-shadow 0.3s ease;
}

.feature.in-view {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.features > :nth-child(2n) {
    translate: 55% 0;
}

.features > :nth-child(2n+1) {
    translate: -55% 0;
}

.feature:hover {
    scale: 1.1;
}

.featuresLine {
    align-self: center;
    position: absolute;
    margin-top: 7em;
    height: 17.6em;
    width: 1px;
    background: linear-gradient(180deg, rgba(124, 124, 124, 0.1), rgba(255, 255, 255, 0.35));
}

.feature .featureIcon svg {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
    color: white;
}

.feature .featureTitle {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.feature .featureTitle p {
    font-weight: 700;
}

.feature > p {
    font-size: 0.9em;
    opacity: 0.8;
    line-height: 1.4;
    margin-top: 0.5em;
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    color: white;
    font-size: 0.9em;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 1) 30%);
}

.featuresLink {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: rgb(150, 150, 150);
    text-decoration: none;
    font-weight: 500;
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.featuresLink:hover {
    text-shadow: rgba(255, 255, 255, 0.3) 0 0 10px;
    cursor: pointer;
    transform: scale(1.05);
}

.mobileNavigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    height: 100vh;
    width: 200px;
    background-color: rgba(23, 23, 23, 0.85);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.mobileNavigation.open {
    transform: translateX(0%);
    box-shadow: 0 0 10px rgba(23, 23, 23, 0.85);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 9999;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}
