.features {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 5em;
}

.feature {
    padding: 20px;
    border-radius: 10px;
    margin-top: -10em;
    display: flex;
    opacity: 0;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    aspect-ratio: 1/1;
    transform: translateY(40px) scale(0.8);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, scale 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1;
}

.feature.inView {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.features > :nth-child(2n) {
    translate: 55% 0;
}

.features > :nth-child(2n+1) {
    translate: -55% 0;
}

.feature:hover {
    scale: 1.1;
}

.featuresLine {
    align-self: center;
    position: absolute;
    margin-top: 7em;
    height: 17.6em;
    width: 1px;
    background: linear-gradient(180deg, rgba(124, 124, 124, 0.1), rgba(255, 255, 255, 0.35));
}

@media (max-width: 1024px) {
    .featuresLine {
        display: none;
    }
    .features > :nth-child(2n),
    .features > :nth-child(2n+1) {
        translate: 0 0;
    }
    .feature {
        margin-top: 4px;
        width: 100%;
        max-width: 25em;
        align-self: center;
    }
    .feature:first-of-type {
        margin-top: 0;
    }
    app-features h2 {
        font-size: 3.5em;
    }
}

@media (max-width: 480px) {
    app-features h2 {
        font-size: 2.5em;
    }
    .feature {
        max-width: 100%;
    }
}

.feature .featureIcon svg {
    margin-bottom: 1em;
    color: white;
    width: 100px;
    height: 100px;
}

.feature .featureTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-top: 1em;
}

.feature .featureTitle p {
    font-weight: 700;
}

.feature > p {
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.4;
    margin-top: 0.5em;
}

.featuresLink {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    margin-top: 0.5em;
    font-size: 14px;
    color: rgb(150, 150, 150);
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.featuresLink::after {
    height: 1px;
    content: "";
    width: 0%;
    background-color: rgba(200, 200, 200, 0.5);
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
    position: absolute;
}

.featuresLink:hover::after {
    width: 100%;
}

.featuresLink:hover {
    cursor: pointer;
    transform: scale(1.05);
    text-shadow: rgba(255, 255, 255, 0.3) 0 0 10px;
}

app-features h2 {
    color: white;
    margin-top: 2em;
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    margin-bottom: 2em;
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0 0 10px);
    transition: filter 1s ease;
    animation: glow 5s ease-in-out infinite;
}

app-features h2:hover {
    filter: drop-shadow(rgba(255, 255, 255, 0.6) 0 0 15px);
}

@keyframes glow {
    0% {
        filter: drop-shadow(rgba(255, 255, 255, 0.5) 0 0 10px);
    }
    50% {
        filter: drop-shadow(rgba(255, 255, 255, 0.6) 0 0 15px);
    }
    100% {
        filter: drop-shadow(rgba(255, 255, 255, 0.5) 0 0 10px);
    }
}