<footer>
    <div class="footerWrapper">
        <div class="social">
            <a href="#" class="icon">
                <i data-lucide="github"></i>
            </a>
            <a href="#" class="icon">
                <i data-lucide="twitter"></i>
            </a>
            <a href="#" class="icon">
                <i data-lucide="mail"></i>
            </a>
        </div>
        <div class="footerLinks">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./get-started.html">Get Started</a></li>
                <li><a href="./quest-board.html">Manage</a></li>
                <li><a href="./stats.html">Statistics</a></li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="footerCopyright">
            <p>© 2026 LVL1. All rights reserved. LVL1 is a work in progress.</p>
        </div>
    </div>
</footer>